html {
  height: 100%;
  width: 100%;
  background-color: rgb(27, 24, 24);
  display: flex;
  align-content: center;
  justify-content: center;
}

#boardEdge {
  height: min(90vh, 90vw);
  width: min(90vh, 90vw);
  padding: 0px;
  display: flex;

  background-image: url("./files/chessBgWood.jpg");

  display: grid;
  grid-template-rows: repeat(8, 1fr);
  grid-template-columns: repeat(8, 1fr);
  resize: both;
  border-radius: 1em;
  box-shadow: 0px 0px 30px rgb(53, 52, 52);
}

#boardEdge div :hover {
  box-shadow: 0px 0px 4px rgb(97, 97, 97);
  transform: scale(1.07);
  z-index: 1;
}

#boardEdge > :active {
  box-shadow: inset 0px 0px 7px rgb(0, 0, 0);
}

#boardEdge div {
  display: flex;
  align-items: center;
  justify-items: center;
}

#boardEdge div > :not(#popup img) {
  height: 84%;
  width: 84%;
  margin-left: auto;
  margin-right: auto;
}

.darkTile {
  background-color: rgba(49, 12, 12, 0.4);
  box-shadow: inset 0px 0px 5px rgb(102, 11, 11);
}

.lightTile {
  background-color: rgba(255, 255, 205, 0.06);
}

.darkTile.highlightMove {
  background-color: rgba(86, 129, 12, 0.6) !important;
}

.lightTile.highlightMove {
  background-color: rgba(144, 228, 95, 0.5) !important;
}

.highlightAttack {
  background-color: rgba(255, 16, 16, 0.3) !important;
}

#popupOverlay {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);

  display: flex;
  align-items: center;
  justify-content: center;
}

#popup {
  padding: 0.8rem;
  max-width: fit-content;
  max-height: fit-content;

  border-radius: min(2vh, 2vw);

  outline: 3px solid beige;
  position: fixed;
  color: white;
  background-color: rgb(32, 31, 31);

  display: flex;
  align-self: center;
  justify-self: center;
  z-index: 3;
  gap: 0.8rem;
}

#popup img {
  height: min(10vw, 10vh);
  width: min(10vw, 10vh);
  padding: 0.8rem;
  z-index: 3;
  background-color: rgb(100, 100, 100);
  margin: 2px;
  border-radius: 1vh;
  box-shadow: 3px 3px 10px black;
}

#popup > img:hover {
  z-index: 4;
  transform: scale(1.015);
}

#userInterface {
  padding-left: 1.5em;
}

button {
  background-color: rgb(158, 102, 49);
  border-radius: 0 0 0.5em 0.5em;
}
button:hover {
  background-color: rgb(180, 119, 61);
}
